extends layout

block content
  script(src='/javascripts/index.js')
  .text-center
    p Enter a mountain project email
    .row.row-center.hide-md.hide-sm.hide-xs
      .col-6
        form(method="POST", action="/search")#forma
          .input-group
            span.input-addon Email
            .input-icon
              i.fa.fa-fw.fa-envelope
              input(type='text', name="email")
            button Search
          p or check out #[a(href="/user/112560680") an example].
    .row.row-center.hide-xl.hide-lg
      .col-12
        form(method="POST", action="/search")#formc
          .input-group
            span.input-addon Email
            .input-icon
              i.fa.fa-fw.fa-envelope
              input(type='text', name="email")
            button(type='button' onclick='submit("#formc")') Search
          p or check out #[a(href="/user/112560680") an example].
  .loaderdisp(style="display: none; text-align:center;")
    span.loader.loader-xl

block footer
  div.footer
    p #[a(href="https://github.com/trvrsalom/mountain-project-insights") Contribute.]